:root {
  --light-green: #52ab98;
  --dark-green: #155048;
  --main-link-hover: #7a2b52;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

h2 {
  text-align: center;
  color: #2b6767;
}
section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*header*/
header {
  position: fixed;
  height: 4rem;
  padding: 0 2rem;
  z-index: 100;
  width: 100vw;
  background-color: var(--light-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--dark-green);
  box-shadow: inset 0 -2rem 3rem rgb(0 0 0 / 10%),
    3rem 0rem 2em rgb(0 0 0 / 40%);
}
header img {
  width: 100px;
  display: block;
}
.backdrop-menu {
  position: absolute;
  top: 4rem;
  left: 0;
  background: var(--dark-green);
}
.backdrop-menu > .nav-bar--menu {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}
.backdrop-menu .nav-bar--menu > * {
  padding: 0 2rem;
  line-height: 3rem;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid black;
}
.nav-bar--menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nav-bar--menu a {
  color: white;
  text-decoration: none;
}
.nav-bar--menu a:hover {
  border-bottom: 2px solid white;
}
.nav-icon-mob {
  width: 2rem;
  z-index: 6;
  top: 1rem;
  left: 1rem;
}
.nav-icon-mob span {
  height: 0.2rem;
  background-color: black;
  margin: 0.2rem 0;
  display: block;
}
/*end header*/

/*section about*/
#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./img/general/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.about-info {
  background: rgba(255, 255, 255, 0.9);
  text-shadow: 2px 2px 7px #d6d6d6;
  color: #000000;
  padding: 8px 12px;
  width: 50%;
}

/* Slideshow container */
.slideshow-container > * {
  height: 100%;
}
.slide > img {
  width: 100%;
  height: 100%;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 10s;
}

@keyframes fade {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
/*end section about*/

/*team*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#team {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}
#team > h2 {
  width: 100%;
}
#team > * + * {
  max-width: 80%;
  width: 600px;
}
#team .team-member:nth-child(odd) {
  align-self: flex-end;
  border-right: 0.5rem solid var(--dark-green);
}
.team-member {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.team-member:not(:nth-child(odd)) {
  border-left: 0.5rem solid var(--team-border);
}
.team-member .team-member--img {
  max-width: 30%;
}
.team-member .team-member--img img {
  width: 100%;
  border-radius: 50%;
}
.team-member-repos {
  list-style: none;
  padding: 0;
}
.team-member-repos > * {
  display: inline-block;
  margin-right: 1rem;
}
.team-member-repos > * > a:hover {
  color: var(--main-link-hover);
}
.team-member-repos img {
  width: 70px;
}
/*end team*/

/*footer*/
footer {
  background-color: #2d3037;
  text-align: center;
  padding: 20px;
}
footer span {
  display: block;
  color: white;
}
/*end footer*/
/*contact us form*/

label,
input,
button,
textarea {
  display: block;
  font: inherit;
  color: inherit;
}

input,
textarea,
fieldset,
button {
  width: 100%;
  border: 1px solid hsl(220, 10%, 75%);
}

textarea {
  resize: vertical;
}

form {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 60vw;
  padding: 30px;
  background-color: #52ab98;
  color: white;
}

input,
textarea {
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
}

button {
  margin-top: 3rem;
  padding: 0.75rem 0.5rem;
  background-color: hsl(220, 20%, 96%);
  transition: background-color 0.2s;
  color: black;
}

button:hover {
  background-color: hsl(220, 20%, 90%);
}
/*end contact us form */

/*contact us form*/

label,
input,
button,
textarea {
  display: block;
  font: inherit;
  color: inherit;
}

input,
textarea,
fieldset,
button {
  width: 100%;
  border: 1px solid hsl(220, 10%, 75%);
}

textarea {
  resize: vertical;
}

form {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 60vw;
  padding: 30px;
  background-color: #52ab98;
  color: white;
}

input,
textarea {
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
}

button {
  margin-top: 3rem;
  padding: 0.75rem 0.5rem;
  background-color: hsl(220, 20%, 96%);
  transition: background-color 0.2s;
  color: black;
}

button:hover {
  background-color: hsl(220, 20%, 90%);
}

/*end contact us form */

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  #about {
    flex-direction: column-reverse;
  }
  .about-info {
    width: 100%;
  }
  .slideshow-container {
    width: 100vw;
  }
}
