:root {
  --team-border: #155048;
  --main-link-hover: #7a2b52;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}
/*section about*/

#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./img/general/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.about-info {
  background: rgba(255, 255, 255, 0.9);
  text-shadow: 2px 2px 7px #d6d6d6;
  color: #000000;
  padding: 8px 12px;
  width: 50%;
}

/* Slideshow container */
.slideshow-container > * {
  height: 100%;
}
.slide > img {
  width: 100%;
  height: 100%;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 10s;
}

@keyframes fade {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
/*end section about*/

/*team*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#team {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}
#team > h2 {
  width: 100%;
}
#team > * + * {
  max-width: 80%;
  width: 600px;
}
#team .team-member:nth-child(odd) {
  align-self: flex-end;
  border-right: 0.5rem solid var(--team-border);
}
.team-member {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.team-member:not(:nth-child(odd)) {
  border-left: 0.5rem solid var(--team-border);
}
.team-member .team-member--img {
  max-width: 30%;
}
.team-member .team-member--img img {
  width: 100%;
  border-radius: 50%;
}
.team-member-repos {
  list-style: none;
  padding: 0;
}
.team-member-repos > * {
  display: inline-block;
  margin-right: 1rem;
}
.team-member-repos > * > a:hover {
  color: var(--main-link-hover);
}
/*end team*/

/*footer*/
footer {
  background-color: #2d3037;
  text-align: center;
  padding: 20px;
}
footer span {
  display: block;
  color: white;
}
/*end footer*/
/*contact us form*/

label,
input,
button,
textarea {
  display: block;
  font: inherit;
  color: inherit;
}

input,
textarea,
fieldset,
button {
  width: 100%;
  border: 1px solid hsl(220, 10%, 75%);
}

textarea {
  resize: vertical;
}

form {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto; 
  max-width:60vw;
  padding: 30px;
  background-color: #52ab98;
  color: white;
}

input,
textarea {
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
}

button {
  margin-top: 3rem;
  padding: 0.75rem 0.5rem;
  background-color: hsl(220, 20%, 96%);
  transition: background-color 0.2s;
  color: black;
}

button:hover {
  background-color: hsl(220, 20%, 90%);
}



/*end contact us form */



@media screen and (max-width: 768px) {
  #about {
    flex-direction: column-reverse;
  }
  .about-info {
    width: 100%;
  }
  .slideshow-container {
    width: 100vw;
  }
}
